snippet co "Console.log"
	console.log("$0: ", $0);

snippet ca "Console.log array"
	console.log("$0[${1:0}]: ", $0[$1]);

snippet ct "Console.log text"
	console.log("$0");

snippet debif "Debugger if"
	if ($1) debugger;
